.app .search {
  display: flex;
  margin-bottom: 45px;
  position: relative;
}

.app .search input[type="text"] {
  flex-grow: 1;
  margin-bottom: 0;
  padding-right: 45px;
}

.app .search__clear-btn {
  color: #999;
  cursor: pointer;
  font-family: Helvetica, sans-serif;
  font-size: 28px;
  padding: 2px 10px;
  position: absolute;
  right: 80px;
  top: 2px;
}
