.app .search {
  display: flex;
  margin-bottom: 30px;
  position: relative;
}

.app .search input[type="text"] {
  flex-grow: 1;
  margin-bottom: 0;
  padding-right: 45px;
}

@media (min-width: 768px) {
  .app .search {
    margin: 0 auto 45px;
    width: 400px;
  }
}
